.prof-picture {
  cursor: none;
  height: 30px;
  border-radius: 30px;
}

.artist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    transition: 250ms;
    border-radius: 5px;
}

.artist-container:hover {
  background: rgb(197, 225, 165, 0.5);
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 250ms;
  cursor: pointer;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}